* {margin: 0; padding: 0;}

header{
    
border-bottom: 2px solid #eee;
}
.container{

width: 90%;

margin: auto;

overflow: hidden;
}
.container .logo{

float: left;
}
.container .logo img{width: 100px;}
nav{

float: right;
}
nav ul{

list-style: none;

overflow: hidden;
}
nav ul li{

float: left;

margin-left: 25px;
}
nav ul li a{
    
text-decoration: none;
    
color: #333;
    
line-height: 45px;
    
font-family: arial;
    
font-size: 15px;
}
section{

width: 60%;

margin: auto;

margin-top: 50px;
}
section .feature_cntnt h1{

color: #0F2656;

font-size: 60px;

font-family: arial;

text-align: center;
}
section .feature_cntnt h2{

color: #008AFF;

font-size: 60px;

font-family: arial;

text-align: center;
}
section .feature_cntnt p{

color: #34409D;

font-size: 19px;

font-family: arial;

text-align: center;

margin-top: 15px;
}
section .feature_phto img{

width: 80%;

margin-left: 10%;
}
.sub_contnr{

overflow: hidden;

margin-top: 70px;
}
.first_part{

float: left;

width: 50%;
}
.first_part h1{
    
color: #F15767;
    
font-size: 55px;
    
font-family: arial;
    
text-align: right;
    
padding: 15px;
    
padding-bottom: 0px;
}
.first_part p{
    
color: #4E447B;
    
font-size: 20px;
    
font-family: arial;
    
text-align: right;
    
padding: 15px;
}
.second_part{

float: right;

width: 50%;
}
.second_part h1{
    
color: #0F2656;

font-size: 55px;

font-family: arial;

text-align: left;

padding: 10px;
}
.panal_section{

width: 100%;
}
.panal_section .panal_contnr{

width: 80%;

margin: auto;

overflow: hidden;
}
.panal_contnr .panal_1{

width: 30%;

float: left;

background-color: #FDEBED;
}
.panal_contnr .panal_1 img{

width: 80%;

margin-left: 10%;

padding-top: 40px;

padding-bottom: 15px;
}
.panal_contnr .panal_1 h1{

color: #112858;

font-size: 22px;

font-family: arial;

text-align: left;

padding: 10px 30px 0px 30px;
}
.panal_contnr .panal_1 p{

color: #112858;

font-size: 16px;

font-family: arial;

text-align: left;

padding: 10px 30px 30px 30px;
}
.panal_contnr .panal_2{

width: 30%;

float: left;

margin-left: 5%;

background-color: #EBF9F4;
}
.panal_contnr .panal_2 img{

width: 80%;

margin-left: 10%;

padding-top: 40px;

padding-bottom: 26px;
}
.panal_contnr .panal_2 h1{

color: #112858;

font-size: 22px;

font-family: arial;

text-align: left;

padding: 10px 30px 0px 30px;
}
.panal_contnr .panal_2 p{

color: #112858;

font-size: 16px;

font-family: arial;

text-align: left;

padding: 10px 30px 30px 30px;
}
.panal_contnr .panal_3{

width: 30%;

float: right;

background-color: #FFF7E8;
}
.panal_contnr .panal_3 img{

width: 80%;

margin-left: 10%;

padding-top: 40px;

padding-bottom: 22px;
}
.panal_contnr .panal_3 h1{

color: #112858;

font-size: 22px;

font-family: arial;

text-align: left;

padding: 10px 30px 0px 30px;
}
.panal_contnr .panal_3 p{

color: #112858;

font-size: 16px;

font-family: arial;

text-align: left;

padding: 10px 30px 30px 30px;
}
footer{

background-color: #008AFF;

margin-top: 80px;
}
footer p{

font-size: 13px;

text-align: center;

line-height: 70px;

color: #eee;

font-family: arial;
}
footer p span{
    
letter-spacing: 2px;
    
color: #fff;
    
font-weight: 800;
}