/*=============== VARIABLE CSS ==================*/
:root {
    --header-height: 3rem;

    /*=============== COLORS ==================*/
    /* HEX color mode */
    --first-color : #081C2A;
    --first-color-second : #009BFF;
    --first-color-alt : #3D444B;
    --text-color : #474747;
    --text-color-light : #818181;
    --button-color : #361AC0;
    --body-color : #FFFFFF;
    --scroll-bar-color : ;
    --scroll-thumb-color : ; 

    /*=============== FONTS ==================*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*=============== FONTS WEIGHT ==================*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*=============== MARGINS BOTTOM ==================*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*=============== Z INDEX ==================*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*=============== HOVER OVERLAY ==================*/
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}

/*=============== BASE ==================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img, video {
    max-width: 100%;
    height: auto;
}

button, input, textarea {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

textarea:focus-visible {
    outline: 0;
}

button{
    cursor: pointer;
}

input {
    outline: none;
}

.main{
    overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ==================*/
.section {
    padding: 3rem 0 2.5rem;
}

.section_title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
    gap: 1.25rem;
}

/*=============== HEADER ==================*/
.header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

/*=============== NAV ==================*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    max-width: 50%;
}

.nav_toggle{
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
}

.nav_menu{
    position: relative;
}

@media screen and (max-width: 767px) {
    .nav_menu{
        position: fixed;
        background-color: var(--first-color);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0px 4px rgba(13, 54, 62, 0.15);
        padding: 3rem;
        display: grid;
        align-items: center;
        transition: .4s;
    }
}

.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav_link{
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

.nav_link:hover{
    color: var(--first-color-second);
}

.active-link:hover::before{
    background-color: var(--first-color-second);
}

.nav_close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/*=============== SHOW MENU ==================*/
.show-menu{
    right: 0;
}

/*=============== CHANGE BACKGROUND HEADER ==================*/
.scroll-header{
    background-color: var(--body-color);
    box-shadow: 0px 0px 4px rgba(13, 54, 62, 0.15);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle{
    color: var(--title-color);
}

/*=============== ACTIVVE LINK ==================*/
.active-link{
    position: relative;
    color: var(--body-color);
}
.active-link::before{
    content: '';
    position: absolute;
    background-color: var(--body-color);
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -.75rem;
}

/*=============== HOME ==================*/
.home{
    background-color: var(--first-color);
    position: relative;
}

.custom-shape-divider-bottom-1638455351 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1638455351 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px; /* 230 */
}

.custom-shape-divider-bottom-1638455351 .shape-fill {
    fill: #FFFFFF;/*#FAFAFA*/
}

.home_container{
    position: relative;
    height: calc(100vh - var(--header-height));
    align-content: center;
    align-items: center;
    row-gap: 1rem;
}

.home_data_subtitle,
.home_data_text,
.home_data_title{
    color: var(--body-color);
}

.home_data_subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
    font-size: var(--normal-font-size);
}

.home_data_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0;
}

.home_data_text{
    font-size: var(--small-font-size);
}

.banner_msg{
    color: var(--text-color-light);
    border-radius: .5rem;
    padding: .5rem;
    font-size: var(--small-font-size);
    background-color: var(--body-color);
    display: flex;
    column-gap: .5rem;
}

.banner_msg img{
    max-width: 1.75rem;
}

.home_content video{
    display: none;
}

.popup_content{
    width: 100%;
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 50%;
    z-index: 120;
    transition: .4s;
}

.popup_overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: .3;
    display: none;
}

.popup.active .popup_overlay{
    display: block;
}

.popup.active .popup_content{
    transform: scale(1);
}

/*=============== GET STARTED ==================*/
.client_get{
    display: none;
}

/*=============== BUTTON ==================*/
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color-second);
    color: var(--body-color);
    padding: .5rem 1.25rem;
    border-radius: 30px;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button_flex{
    display: flex;
    align-items: center;
    column-gap: .25rem;
}

.button_link{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    width: max-content;
    background-color: transparent;
    padding: 0;
}
.button_link:hover{
    background-color: transparent;
}

.button_link img{
    max-width: 2.5rem;
}

.home_btn{
    display: flex;
    column-gap: .25rem;
}

.btn_container{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    column-gap: .5rem;
    margin-top: -15rem;
}

.btn_log{
    background-color: transparent;
    color: var(--body-color);
    border: 2px solid var(--body-color);
    border-radius: .25rem;
    padding: .25rem .5rem;
    text-align: center;
    transition: .4s;
}

.btn_log:hover{
    background-color: var(--body-color);
    color: var(--first-color);
}

.btn_trial{
    background-color: var(--first-color-second);
    color: var(--body-color);
    border: 2px solid var(--first-color-second);
    border-radius: .25rem;
    padding: .25rem .5rem;
    text-align: center;
    transition: .3s;
}

.btn_trial:hover{
    transform: scale(1.1);
}

.button_featured{
    display: inline-block;
    align-items: center;
    background-color: transparent;
    color: #000000;
    border: 3px solid #000000;
    padding: .75rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.shake{
    animation: shake 1.5s 2s infinite linear;
}

@keyframes shake{
    0%,
    100%{
        transform: translateX(0);
    }

    20%,
    60%{
        transform: translateX(.6rem);
    }
    
    40%,
    80%{
        transform: translateX(-.6rem);
    }
}

/*=============== FEATURED VIDEO ==================*/
.featured_data{
    padding-bottom: 2rem;
}

.featured_subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.featured_title{
    font-weight: var(--font-bold);
}

.featured_text{
    display: block;
    margin-bottom: var(--mb-1-25);
}

.featured_content{
    position: relative;
}

.aks-vp-start,
.aks-vp-loading{
    display: none !important;
}

.aks-video-player{
    border-radius: 0rem !important;
}

/*=============== STORY ==================*/
.story{
    position: relative;
}

.story_background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 14%;
}

.story_head{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.story_nav,
.linear_story{
    padding: .5rem;
}

.linear_story{
    background-color: #2822DB;
    color: #FFFFFF;
    font-size: var(--normal-font-size);
    padding-right: 2.25rem;
    clip-path: polygon(0 0, 85% 0%, 100% 100%, 0% 100%);
}

.story_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    column-gap: .25rem;
}

.swiper-pagination{
    position: relative;
    bottom: 0;
}

.story_navigation{
    position: relative;
}

.story-prev,
.story-next{
    position: relative;
    display: none;
}

.story_container,
.story_nav_container{
    overflow: hidden;
}

.story_container{
    background-color: #EEEEEE;
}

.story_card{
    position: relative;
    width: 100%;
}

.story_data{
    padding: 1rem;
}

.story_text{
    display: block;
    margin-bottom: var(--mb-1);
}

.half_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.half_text{
    display: block;
    width: 75%;
    margin-bottom: var(--mb-0-5);
}

/*=============== DROP SHIPPING ==================*/
.shipping{
    background-image: linear-gradient(to bottom, #FFFFFF, #B7B1BC);
}

.shipping_title{
    font-size: var(--h1-font-size);
    color: #3F3F3F;
    margin-bottom: var(--mb-1-5);
}

.shipping_wrapper{
    background-color: var(--body-color);
    border-radius: .75rem;
    overflow-x: hidden;
    padding-top: 0;
}

.shipping_tab{
    background-color: #E1DEDE;
}

.shipping_tabs{
    display: flex;
    justify-content: space-between;
}

.shipping_button{
    color: #707070;
    font-weight: var(--font-semi-bold);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: var(--smaller-font-size);
    align-items: center;
    padding: .75rem 0;
}

.swiper-slide-thumb-active{
    background-color: var(--body-color);
}

.shipping_padding{
    padding: 1rem;
}

.shipping_section{
    position: relative;
    overflow-x: hidden;
}

.shipping_slide_wrapper{
    padding: 1rem;
}

.shipping_data{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.swiper-button-prev, .swiper-button-next{
    position: absolute;
    top: 40%;
    width: 1.5rem;
}

.swiper-button-next{
    right: 0;
}

.swiper-button-prev{
    left: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
    width: 100%;
    height: 100%;
    display: none;
}

/*=============== PRODUCTS SLIDE ==================*/
.product_section{
    background-color: #FFFFFF;
}

.product_container{
    background-color: #F7F7F7;
    padding: 1rem;
    border-radius: .5rem;
}

.product_section_title{
    color: #2E2E2E;
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1-5);
}

.product_slide_container{
    overflow-x: hidden;
}

.product_card{
    background-color: var(--body-color);
    border-radius: .75rem;
    width: 300px;
}

.product_content{
    overflow: var(--img-hidden);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.product_content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product_data_wrapper{
    position: relative;
    padding: .75rem .25rem;
}

.product_title{
    display: block;
    padding: .25rem 1rem;
    font-size: var(--h3-font-size);
    color: #2E2E2E;
}

.product_text{
    display: flex;
    justify-content: space-between;
    padding: .25rem 1rem;
}

.product_text span{
    display: block;
    color: #2E2E2E;
}

.product_details_btn{
    margin: .25rem 1rem;
    display: block;
    text-align: center;
    background-color: #5F47D1;
    color: #FFFFFF;
    padding: .25rem 0;
    border-radius: .75rem;
    transition: .4s;
}

.product_details_btn:hover{
    background-color: #FFFFFF;
    color: #5F47D1;
    box-shadow: 0px 0px 4px rgba(13, 54, 62, 0.15);
}

/*=============== SCROLL BUTTON ==================*/
.scroll_btn_title{
    font-size: var(--h2-font-size);
    color: #424242;
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: var(--mb-2);
}

.scroll_btn_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5rem;
}

.scroll_btn_wrapper{
    background-image: radial-gradient(#FFFFFF, #D6D6D6);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .25rem;
    padding: .75rem;
}

.scroll_btn_wrapper img{
    height: 2rem;
}

.scroll_btn_wrapper span{
    display: block;
    font-size: var(--smaller-font-size);
    color: #424242;
}

/*=============== SCROLL SECTION ==================*/
.research_section,
.sell_section,
.scale_section,
.success_section{
    padding-top: 3.5rem;
}

.research_wrapper,
.sell_wrapper,
.scale_wrapper,
.success_wrapper{
    align-items: center;
    align-content: center;
    position: relative;
    background-color: var(--body-color);
    padding: 1.25rem 1rem;
}

.research_wrapper::before,
.sell_wrapper::before,
.scale_wrapper::before,
.success_wrapper::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 40%;
    background-color: #CECACA;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: -1;
}

.research_data,
.sell_data,
.scale_data,
.success_data{
    display: grid;
    text-align: center;
    row-gap: 1rem;
    color: #424242;
}

.research_title,
.sell_title,
.scale_title,
.success_title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.research_text,
.sell_text,
.scale_text,
.success_text{
    font-size: var(--small-font-size);
}

.research_btn,
.sell_btn,
.scale_btn,
.success_btn{
    color: var(--body-color);
    background-color: #5426B0;
    font-weight: var(--font-semi-bold);
    padding: .75rem 0;
    margin: 0 1.5rem;
    border-radius: .5rem;
}

.research_title_section,
.sell_title_section,
.scale_title_section,
.success_title_section{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem;
    background-color: var(--body-color);
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.research_title_section img,
.sell_title_section img,
.scale_title_section img,
.success_title_section img{
    height: 2rem;
}

.research_title_section span,
.sell_title_section span,
.scale_title_section span,
.success_title_section span{
    display: block;
    font-weight: var(--font-semi-bold);
    color: #424242;
}

/*=============== RETURN POLICY ==================*/
.return_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    padding: 1.25rem;
    box-shadow: 0px 0px 4px #777777;
    border-radius: .75rem;
}

.return_content{
    max-width: 80%;
}

.return_title{
    color: #020202;
    text-align: center;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1-25);
}

.return_text{
    color: #585858;
    display: block;
}

.return_text a{
    color: #1C0EEF;
}

/*=============== TRY EBUTIFY ==================*/
.try_ebutify{
    background-image: linear-gradient(to right, #FFFFFF, #DCDCDC);
}

.try_ebutify_data{
    display: grid;
}

.try_ebutify_title{
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}

.try_ebutify_text{
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    margin-bottom: var(--mb-1);
}

.try_ebutify_btn_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.try_ebutify_btn{
    background-color: #612AE2;
    color: var(--body-color);
    padding: .5rem;
    font-size: var(--small-font-size);
    border-radius: .75rem;
    border: 2px solid #612AE2;
    font-weight: var(--font-semi-bold);
    position: relative;
}

.try_ebutify_btn::before{
    content: '';
    width: 90%;
    height: 40%;
    position: absolute;
    background-color: #0800EE;
    opacity: .21;
    top: 108%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.try_ebutify_btn:hover{
    animation: shake .4s;
}

.customer_feed_btn{
    background-color: var(--body-color);
    border: 2px solid #420ADB;
    padding: .5rem;
    font-size: var(--small-font-size);
    border-radius: .75rem;
    font-weight: var(--font-semi-bold);
    transition: .4s;
}

.customer_feed_btn:hover{
    background-color: #420ADB;
    border: 2px solid #420ADB;
    color: var(--body-color);
}

.try_ebutify_tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .25rem;
}

.try_ebutify_tag span{
    display: block;
    font-size: var(--smaller-font-size);
}

/*=============== PRICING ==================*/
.pricing{
    background-image: linear-gradient(to bottom, #F7F7F7, #FFFFFF);
}

.pricing_data{
    display: grid;
}

.pricing_title{
    text-align: center;
    color: #000000;
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-75);
}

.pricing_text_1{
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    margin-bottom: var(--mb-1);
    color: #000000;
}

.pricing_text_2{
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
    margin-bottom: var(--mb-1);
    color: #000000;
}

.pricing_content_wrapper{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.pricing_content{
    display: grid;
    box-shadow: 0px 0px 4px #777777;
    position: relative;
    border-radius: .75rem;
    margin-top: 2rem;
    transition: .4s;
}

.pricing_content:hover{
    transform: translateY(-.75rem);
}

.pricing_off{
    width: max-content;
    padding: 1rem .75rem;
    background-color: var(--body-color);
    border: 4px solid #0BB73F;
    border-radius: 50%;
    position: absolute;
    z-index: 30;
    top: -2.25rem;
    left: -.75rem;
}

.pricing_off_title{
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: #F10000;
}

.pricing_off_data{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: #000000;
}

.pricing_content_title{
    background-color: #0BB73F;
    color: #FFFFFF;
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    text-align: center;
    padding: .5rem 0;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.pricing_content_data{
    display: grid;
    row-gap: .75rem;
    background-image: linear-gradient(to bottom, #00FFAB, #057627);
    padding: 1.25rem 1.25rem;
}

.pricing_content_data_title{
    text-align: center;
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    color: var(--body-color);
}

.pricing_content_data_title span{
    display: inline-block;
    text-decoration: line-through;
    color: #737373;
}

.pricing_content_data_text{
    display: grid;
}

.pricing_content_data_text span{
    display: block;
    color: var(--body-color);
    font-size: small;
}

.pricing_content_features{
    background-color: var(--body-color);
    padding: 1.5rem 1rem;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
}

.pricing_content_features_list{
    display: grid;
    row-gap: .5rem;
}

.pricing_content_features_item{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.pricing_content_features_item img{
    width: 1.5rem;
}

.pricing_content_features_item span{
    display: block;
    font-size: var(--small-font-size);
}

.pricing_btn{
    background-color: #0BB73F;
    color: var(--body-color);
    padding: .5rem;
    font-family: var(--title-font);
    border-radius: .75rem;
    font-weight: var(--font-bold);
    position: relative;
    text-align: center;
}

.pricing_btn:hover{
    animation: shake .4s;
}

/*=============== FOOTER ==================*/
.footer{
    position: relative;
    background-color: var(--first-color);
    padding: 3rem 0 2rem;
}

.footer_container{
    position: relative;
    margin-top: -2.25rem;
    z-index: 10;
}

.footer_curve{
    position: absolute;
    top: -4rem;
    left: 0;
}

.footer_newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
}

.footer_newsletter_data{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.footer_newsletter_data img{
    max-width: 3.5rem;
}

.footer_newsletter_data span{
    color: var(--body-color);
}

.footer_newsletter_form{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.footer_newsletter_form input[type="email"]{
    padding: .5rem;
    border-radius: .5rem;
}

.footer_checkbox{
    display: flex;
    align-items: baseline;
    column-gap: .5rem;
}

.footer_checkbox span{
    display: block;
    color: var(--text-color-light);
}

.footer_checkbox span a{
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
}

.foot_form_input_container{
    display: grid;
}

.footer_newsletter_btnpc{
    display: none;
    transition: .4s;
}

.footer_newsletter_btn{
    width: max-content;
    padding: .5rem 1rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    background-color: var(--button-color);
    color: var(--body-color);
    transition: .4s;
}

.footer_main{
    padding: 1.25rem 0;
    margin: 1rem 0;
    border-top: 2px solid #A7A7A7;
    border-bottom: 2px solid #A7A7A7;
}

.footer_main_content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer_main_content img{
    max-width: 70%;
}

.social_list{
    display: flex;
    flex-direction: row;
    column-gap: .3rem;
}

.social_item{
    width: 30px;
    height: 30px;
    background-color: #A9B0BA;
    border-radius: 50%;
}

.social_link{
    font-weight: var(--small-font-size);
    font-size: 1rem;
    color: var(--text-color);
}

.social_icon{
    line-height: 30px;
    display: flex;
    justify-content: center;
}

.footer_contact{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.footer_contact i{
    color: #2DFFB3;
}

.footer_contact span,
.copyright{
    color: var(--body-color);
}

.footer_checkbox span,
.footer_contact span,
.copyright{
    font-size: var(--small-font-size);
}

.footer_company span{
    display: block;
    font-size: var(--h3-font-size);
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.company_list{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.company_link{
    color: var(--body-color);
    font-size: var(--small-font-size);
}

.company_link:hover{
    text-decoration: underline;
}

.footer_book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1rem;
    padding-top: .5rem;
}

.footer_booking_button{
    font-weight: var(--font-semi-bold);
    padding: .75rem 1rem;
    color: var(--body-color);
    background-color: var(--button-color);
    font-size: var(--small-font-size);
    border-radius: .5rem;
    transition: .4s;
}

.footer_booking_button:hover,
.footer_newsletter_btn:hover,
.footer_newsletter_btnpc:hover{
    color: var(--button-color);
    background-color: var(--body-color);
}

.footer_book img{
    max-width: 50%;
}

/*=============== CONTACT HOME ==================*/
.contact_container{
    position: relative;
    height: calc(70vh - var(--header-height));
    margin-bottom: 25rem;
}

.contact_title{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color-light);
    padding-top: 7rem;
}

.contact_form_container{
    background-color: var(--body-color);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 4px rgba(13, 54, 62, 0.15);
}

.contact_content{
    margin-top: 3rem;
    position: relative;
    z-index: var(--z-tooltip);
}

.contact_input_container{
    display: grid;
    row-gap: .4rem;
}

.contact_input_container input,
.contact_input_container textarea{
    border: 1px solid #D8D8D8;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: var(--normal-font-size);
}

.contact_btn_wrapper{
    display: flex;
    justify-content: flex-end;
}

.contact_btn_wrapper button{
    font-weight: var(--font-semi-bold);
    color: var(--body-color);
    padding: .75rem 1.25rem;
    border-radius: .75rem;
    background-color: var(--button-color);
}

.contact_btn_wrapper button:hover{
    animation: shake .4s;
}

/*=============== JOURNEY ==================*/
.journey{
    background-color: #F3F3F3;
    padding-top: 2.5rem;
    padding-bottom: 8.5rem;
}

.journey_container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.journey_data{
    text-align: center;
}

.button_journey{
    background-color: var(--button-color);
    color: var(--body-color);
    padding: .75rem;
    border-radius: .5rem;
}

/*=============== FAQ ==================*/
.faq_container{
    position: relative;
    height: calc(70vh - var(--header-height));
    align-content: center;
    row-gap: 1rem;
}

.faq_data{
    text-align: center;
}

.faq_data_title,
.faq_data_subtitle{
    color: #D9D9D9;
    font-weight: var(--font-semi-bold);
}

.faq_data_title{
    font-size: var(--h1-font-size);
}

.faq_data_subtitle{
    font-size: var(--h3-font-size);
}

.faq_form form{
    position: relative;
}

.faq_form form input{
    width: 100%;
    padding: .5rem .5rem .5rem 2.25rem;
    border-radius: .5rem;
}

.faq_form_btn{
    display: none;
}

.faq_form form .faq_search_icon{
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1.2rem;
}

.faq_content_container{
    row-gap: 0;
}

.faq_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq_title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.faq_content{
    margin-bottom: var(--mb-1);
    padding: .75rem;
    background-color: var(--body-color);
    border-left: 6px solid #6A03C7;
    border-radius: .5rem;
    box-shadow: 0px 0px 6px rgba(13, 54, 62, 0.15);
    transition: .4s;
    display: grid;
    row-gap: .5rem;
}

.faq_list{
    transition: .4s;
}

.faq_close .faq_list{
    height: 0;
    overflow: hidden;
}

.faq_open .faq_list{
    height: max-content;
}

.faqicon{
    width: 1rem;
}

.faq_close .faqicon_close{
    display: none;
}

.faq_close .faqicon_open{
    display: block;
}

.faq_open .faqicon_close{
    display: block;
}

.faq_open .faqicon_open{
    display: none;
}

.faq_more_view_btn{
    color: #6A03C7;
    font-weight: var(--font-semi-bold);
    margin: 1.25rem 2.5rem 0;
    font-size: var(--h3-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px #6A03C7;
    padding: .75rem 0;
    border-radius: .5rem;
    transition: .4s;
}

.faq_more_view_btn:hover{
    color: var(--body-color);
    background-color: #6A03C7;
    box-shadow: 0px 0px 4px #000000;
}

.faq_home{
    display: grid;
    row-gap: 2.75rem;
}

.faq_home .faq_data_title{
    font-weight: var(--font-bold);
}

.faq_home .faq_data_title,
.faq_home .faq_data_subtitle{
    color: #555454;
}

.faq_home input{
    background-color: #F8F8F8;
    box-shadow: 0px 0px 4px rgba(13, 54, 62, 0.15);
}