@media screen and (min-width: 768px){
	.check_in_form{
	    grid-template-columns: 1fr 1fr 1fr max-content;
		align-items: end;
	}
	.other-chek_in{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.about_container{

	}
	.about_content{
		display: grid;
    	row-gap: 0.75rem;

	}
	.image_group{
		display: grid;
	    grid-template-columns: 1fr 1fr;
	    column-gap: 0.75rem;
	}
	.image_group img{
		object-fit: cover;
	    object-position: center;
	}
	/*testimonial_card*/
	
	.testimonial_card{
		display: grid;
    	grid-template-columns: 1fr 1fr;
	}
	.testimonial_content{
		display: block;
	}
	.testimonial_content img{
		width: 100%;
	    object-fit: cover;
	    object-position: center;
	    height: 100%;
	}
	.testimonial-pagination{
		display: block;
	}
	/*restaurent part*/

	.restaurent_wrapper{
		grid-template-columns: repeat(2, 1fr);
	}
	/*blog part*/

	.blog_wrapper{
		margin-top: 2rem;
		grid-template-columns: repeat(2, 1fr);
	}

	/*footer part*/

	.footer_container{
		grid-template-columns: repeat(2, 1fr);

	}
	/*room page part*/

	.room_gallery{
		grid-template-columns: repeat(2, 1fr);
	}
	.room_card{
	    column-gap: 1rem;
	}
	/*contact page part*/
	.contact_form{
		grid-template-columns: 1fr 1fr;
	}
	.contact_details{
		grid-template-columns: 1fr 1fr 1fr;
	}

}
@media screen and (min-width: 1024px){
	.nav_logo {
	    color: #fff;
	    font-size: var(--h3-font-size);
	}
	.container{
		margin-left: auto;
    	margin-right: auto;
	}
	.nav_toggle, .nav_close{
		display: none;
	}
	.nav_list{
		column-gap: 2rem;
    	flex-direction: row;
	}
	.nav_item{

	}
	.nav_link{
		color: #fff;
    	font-size: var(--small-font-size);
	}
	.banner_container{

	}
	.banner-title{
		display: grid;
    	grid-template-columns: 1fr 1fr;
	}
	.banner-des{
		display: grid;
    	grid-template-columns: 1fr 2fr;
	}
	.banner_form{

	}
	.banner_form_wrapper{
	    position: relative;
	    margin-top: -3.75rem;
	    box-shadow: 0px 3px 4px rgb(0 0 0 / 35%);
	}
	.about_container{
	    grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	.about_content{
	}
	/*service prev and next*/

	.service_sec{
		padding-bottom: 4rem;
	}

	.service-next{
		position: absolute;
	    right: 45%;
	    z-index: 10;
	    display: block;
	    margin: 1rem 0;
	}
	.service-prev{
		position: absolute;
	    left: 45%;
	    z-index: 10;
	    display: block;
	    margin: 1rem 0;
	}
	.service-next i, .service-prev i{
		font-size: 2.25rem;
	    color: #fff;
	    cursor: pointer;
	    display: block;
	}
	/*restaurent part*/

	.restaurent_wrapper{
		margin-top: 2rem;
	}
	.btn_absolute{
		position: absolute;
	    right: 0;
	    bottom: 0;
	}
	.restaurent_data{
    	padding: 0 1rem 1rem;
	}
	/*blog part*/

	.blog_wrapper{
		margin-top: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
	/*footer part*/
	.footer_logo, .footer_title{
		font-size: var(--h3-font-size);
	}
	.footer_container{
		grid-template-columns: 2fr 1fr 1fr 1fr;

	}
	/*footer bottom*/
	.copy_container{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: .75rem 0;
	}
	/*contact page part*/
	.contact_form{
		grid-template-columns: 2fr 1fr;
	}

}
@media screen and (min-width: 1100px){
	.service-next{
		position: absolute;
	    bottom: 30%;
	    right: 10px;
	    z-index: 10;
	    transform: translateY(-30%);
	}
	.service-prev{
		position: absolute;
	    bottom: 30%;
	    left: 10px;
	    z-index: 10;
	    transform: translateY(-30%);

	}
	.service-next i, .service-prev i{
		font-size: 2.25rem;
	    color: #fff;
	    cursor: pointer;
	}
}
@media screen and (min-width: 1300px){
	.service-next{
		position: absolute;
	    bottom: 30%;
	    right: 100px;
	    z-index: 10;
	    transform: translateY(-30%);
	}
	.service-prev{
		position: absolute;
	    bottom: 30%;
	    left: 100px;
	    z-index: 10;
	    transform: translateY(-30%);

	}
	.service-next i, .service-prev i{
		font-size: 2.25rem;
	    color: #fff;
	    cursor: pointer;
	}
}
@media screen and (min-width: 1100px){
	.testimonial_data{
		padding-left: 3.75rem;
	}
}
@media screen and (min-width: 1200px){
	.testimonial_data{
		padding-left: 6.75rem;
	}
}
@media screen and (min-width: 1366px){
	.testimonial_data{
	    padding-left: 12.5rem;
	}
}
@media screen and (min-width: 1440px){
	.testimonial_data{
	    padding-left: 14.75rem;
	}
}
