/* small device-320 */
@media screen and (max-width: 320px){
    .banner_section{
        padding: 3rem 0 7rem;
    }
}

/* medium device-768 */
@media screen and (min-width: 768px){
    .nav_list{
        justify-content: space-around;
    }

    .banner_container{
        grid-template-columns: 1fr 1.8fr;
    }

    .about_popup_btn{
        right: 10%;
        bottom: 10%;
        transform: translate(10%, 10%);
    }

    .banner_content img{
        width: 250px;
        height: 250px;
    }

    .banner_title{
        text-align: left;
    }
    
    .banner_description{
        text-align: left;
    }

    .button_grid{
        margin: 0;
    }

    .info_container{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .info_list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info_content{
        height: max-content;
    }

    .info_content_part_description{
        position: relative;
        padding-left: 45px;
    }

    .info_content_part_description::before{
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        width: 30px;
        height: 1px;
        background-color: var(--text-color);      
    }

    .skill_container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: .75rem;
    }

    .skill_title{
        text-align: center;
    }
}

/* large device-1024-2500 */
@media screen and (min-width: 1024px){
    body {
        margin: 0;
    }

    .banner_main.active{
        overflow-y: hidden;
    }

    .about_main.active{
        padding: 2rem 0;
    }

    .header{
        z-index: var(--z-fixed);
        background-color: transparent;
    }

    .nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 2.5rem;
        height: 100vh;
    }

    .nav_item span{
        display: inline-block;
    }

    .nav_item:hover span{
        display: inline-block;
        background-color: var(--first-color);
        color: #FFFFFF;
        padding: .25rem .75rem;
        border-radius: 30px;
        opacity: 1;
    }

    .nav_item.active{
        position: relative;
        transform: translateY(0);
    }
    
    .nav_item.active .nav_icon{
        fill: var(--text-color);
    }
    
    .nav_item.active::before{
        bottom: -.75rem;
    }

    .banner_main{
        position: relative;
    }

    .banner_main::before{
        content: '';
        position: absolute;
        width: 200%;
        height: 300vh;
        top: 98%;
        left: -8%;
        transform: rotate(12deg);
        background-color: var(--title-color);
        z-index: -1;
    }

    .banner_main::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 97%;
        left: -67%;
        transform: rotate(-25deg);
        background-color: var(--title-color);
        z-index: -1;
    }

    .popup_content{
        width: 95%;
        height: 90%;
    }

    .container{
        align-items: center;
    }

    .nav_menu{
        position: relative;
        box-shadow: none;
        border-radius: 0;
    }

    .nav_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.25rem;
    }

    .banner_container{
        height: 100vh;
        grid-template-columns: 1fr 1.8fr;
        padding-right: 3.5rem;
    }
    
    .info_container{
        padding-right: 3.5rem;
    }

    .banner_content img{
        width: 300px;
        height: max-content;
        border-radius: 1rem;
    }

    .about_popup_btn{
        width: 50px;
        height: 50px;
        right: -5%;
        bottom: 10%;
        transform: translate(-5%, 10%);
    }

    .about_popup_btn::before{
        width: 50px;
        height: 50px;
    }

    .info_title{
        text-align: center;
        position: relative;
        z-index: 0;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .info_title::before{
        content: 'resume';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: #000000;
        opacity: .1;
        transform: scale(1.8);
        z-index: -1;
    }

    .info_content_part{
        padding: 1.25rem;
    }
}

@media screen and (min-width: 1200px){
    .nav{
        right: 4rem;
    }

    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .banner_content img{
        width: 380px;
    }

    .banner_main::before{
        top: 105%;
        left: 9%;
        transform: rotate(10deg);
    }

    .banner_main::after{
        top: 100%;
        left: -67%;
        transform: rotate(-18deg);
    }

    .about_popup_btn{
        width: 50px;
        height: 50px;
        right: 1.5rem;
        bottom: 30%;
        transform: translate(1.5rem, 30%);
    }

    .popup_content{
        width: 90%;
        height: 80%;
    }

    .popup_close{
        top: -2rem;
        right: -2rem;
    }

    .info_list_wrapper{
        row-gap: 1.25rem;
    }

    .info_item span{
        display: inline-block;
    }
}

@media screen and (min-width: 1400px){
    .nav{
        right: 5.5rem;
    }
}