*{margin: 0;padding: 0;}
header{
    width: 90%;
    margin: auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.logo{

width: 25%;
}
nav{

width: 55%;
}
nav ul{
   
list-style: none;
   
display: flex;
   
justify-content: space-between;
}
nav ul li a{
    
text-decoration: none;
    
color: #626262;
    
font-family: 'Playfair Display';
    
font-weight: 500;
}
.banner{

width: 90%;

margin: auto;

margin-top: 45px;
}
.banner img{
    
width: 100%;
}
.item_section{

width: 75%;

margin: auto;

margin-top: 80px;
}
.item_section h5{

font-family: 'Ubuntu', sans-serif;

color: #b4ad9e;

margin-bottom: 30px;

font-size: 18px;
}
.item_section h1{

color: #626262;

font-family: 'Playfair Display';

font-weight: 500;

font-size: 39px;
}
.item_section p{

color: #626262;

font-family: 'Playfair Display';

margin: 40px 0px 70px;

font-size: 18px;
}
.item{

margin-top: 100px;

display: flex;

justify-content: space-between;

flex-wrap: wrap;
}
.item h5{

margin-top: 30px;
}
.item1{
    
width: 48%;
}
.item1 img{
    
width: 100%;
}
.item2{
    
width: 48%;
}
.item2 img{
    
width: 100%;
}
.item3{
    
width: 48%;
}
.item3 img{
    
width: 100%;
}
.item4{
    
width: 48%;
}
.item4 img{
    
width: 100%;
}
.mail_section{

background-color: #f0f0f0;

padding: 70px 0px;
}
.mail{

width: 32%;

margin: auto;

text-align: center;

position: relative;
}
.mail h1{

color: #333333;

font-family: 'Playfair Display';

font-weight: 400;

margin-bottom: 80px;

font-size: 40px;
}
.mail input{
    
width: 100%;
    
background-color: transparent;
    
border: none;
    
height: 25px;
    
border-bottom: 2px solid black;
    
padding: 5px;
    
font-family: 'Playfair Display';
    
font-size: 18px;
}
.btn{

position: absolute;

bottom: 0;

right: 0;

transform: translate(10px, -5px);
}
.btn button{

border: navajowhite;

background-color: transparent;
}
.item5{
    
    width: 48%;
}
.item5 img{
        
width: 100%;
}
.item6{
    
    width: 48%;
}
.item6 img{
        
width: 100%;
}
.load{

display: flex;

justify-content: center;

margin: 70px 0px;
}
.load button{
    
font-family: 'Playfair Display';
    
padding: 12px 25px;
    
font-size: 22px;
    
background-color: transparent;
    
border: 1px solid;
    
color: ##626262;
}
footer{

background-color: #f0f0f0;
}
footer .foot{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

padding: 40px 0px;
}
.foot nav ul li a{

color: #000;
}
.foot nav ul li a i{

color: #626262;
}
.foot .first{
    
width: 18%;
}
.foot .second{
    
width: 10%;
}
.foot .second ul{
    
justify-content: space-evenly;
}