*{margin: 0; padding: 0;}
body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Archivo', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
.bg{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -100;
}
.bg img{
    width: 100%;
}
header{

position: relative;

z-index: 500;
}
.logo{

width: 220px;

margin: 0px 0px 15px 25px;
}
.logo img{

width: 100%;
}
.custom_header{

background: #181c0d;

min-height: 100vh;

color: #fff;
}
.nav-link{

color: #fff !important;

font-size: 15px;

margin-right: 10px;

transition: .4s all ease-in-out;
}
.nav-link::before{

content: '';

width: 0%;

height: 1px;

background: #bbff01;

position: absolute;

left: 0px;

bottom: 0px;
}
.nav-link:hover{

color: #bbff01 !important;

position: relative;
}
.nav-link:hover::before{

width: 100%;

transition: .4s all ease-in-out;
}
.btn_hire{

color: #fff;

font-size: 15px;

background: transparent;

border: 1px solid #fff;

padding: 7px 25px;
}
.btn_hire:hover{

color: #bbff01;

border-color: #bbff01;

transition: .4s all ease-in-out;
}
.custom_nav{

min-height: 15vh;
}
.custom_banner{

min-height: 85vh;
}
.banner{

padding-left: 40px;

padding-right: 40px;
}
.banner h2{

font-family: 'Poppins', sans-serif;
    
font-size: 28px;

color: #bbff01;
}
.banner h1{
    
font-family: 'Archivo', sans-serif;
    
font-size: 60px;
}
.banner .btn_hire_banner{
    
color: #fff;
    
font-size: 15px;
    
background: transparent;
    
border: 1px solid #fff;
    
padding: 7px 25px;

margin-top: 30px;
}
.btn_hire_banner:hover{

color: #bbff01;

border-color: #bbff01;

transition: .4s all ease-in-out;
}
.social{

min-height: 100vh;

position: absolute;

top: 0px;

left: 0px;
}
.social ul{

list-style: none;
}
.social ul li{

width: 40px;

height: 40px;

display: flex;

align-items: center;

justify-content: center;

background: #fff;

margin-bottom: 10px;

border-radius: 100px;

box-shadow: 0px 0px 30px 5px #000;
}
.social ul li a{

text-decoration: none;

font-size: 20px;

color: #000;
}
.social ul li:hover{

background: #bbff01;

transition: .4s all ease-in-out;
}
.social ul li:hover a{

color: #fff;

transition: .4s all ease-in-out;
}
.service_section{

background: #fff;

position: relative;

z-index: 500;
}
.service_panal{
    
text-align: center;
}
.service_icon{
    
font-size: 35px;
}
.service_panal h3{
    
font-size: 28px;
    
color: #181c0d;
}
.service_panal p{
    
font-size: 16px;
}
.skill_section{

background: #181c0d;

padding: 60px 0px;

position: relative;

z-index: 500;
}
.skill{

padding: 0px 12px;
}
.skill h1{

color: #bbff01;

font-size: 40px;
}
.skill h3{

color: #fff;

font-size: 20px;

margin-top: 20px;
}
.progress-bar-wrap{
    
height: inherit !important;

border: none !important;
}
.ab-progress-bar{

background: #bbff01 !important;
}
.counter_section{

color: #fff;

position: relative;

z-index: 500;
}
.counter_icon{
    
font-size: 36px;
    
width: inherit;
}
.counter_details{
    
width: inherit;
}
.counter_details h2{
    
font-size: 28px;
}
.counter_details h3{
    
font-size: 20px;
}
.about_section{

background: #eee;

text-align: center;
}
.about_section h1{

font-size: 48px;

color: #181c0d;
}
.profile_pic{

width: 80%;

border-radius: 100%;

margin: auto;

box-shadow: 6px 8px 20px 3px #181c0d;
}
.profile_pic img{
    
border-radius: 100%;
}
.about_text{

text-align: left;

padding: 0px 20px;
}
.about_text h2{

color: #000;

font-size: 36px;
}
.about_text p{

font-size: 18px;

line-height: 35px;

color: #000;
}
.portfolio_section{

background: #fff;

color: #bbff01;

text-align: center;
}
.portfolio_section h1{

font-size: 48px;

margin-bottom: 30px;
}
.btn_line{

width: 70%;

margin: auto;
}
.btn_filter{

width: 100% !important;

background: transparent;

color: #181c0d;

border: 2px solid #181c0d;

font-size: 18px;

line-height: 30px;
}
.btn_filter:hover{

background: #181c0d;

color: #fff;

transition: .4s all ease-in-out;
}
.portfolio{
    position: relative;
}
.expand{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000060;
    display: flex;
    align-items: center;
    transition: .4s all ease-in-out;
}
.linkup{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #00000060;
    text-align: left;
    display: flex;
    align-items: center;
    transition: .4s all ease-in-out;
}
.expand ul, .linkup ul{
    list-style: none;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    opacity: 0;
    transition: .4s all ease-in-out;
}
.expand ul{
    justify-content: end;
}
.expand ul li, .linkup ul li{

width: 36px;

height: 36px;

display: flex;

justify-content: center;

align-items: center;

font-size: 18px;

background: #fff;

box-shadow: 0px 0px 8px 3px #181c0d;
}
.expand ul li{
    margin-right: 8px;
}
.linkup ul li{
    margin-left: 8px;
}
.expand ul li a, .linkup ul li a{
    color: #bbff01;
}
.expand ul li:hover, .linkup ul li:hover{
    background: #181c0d;
    transition: .4s all ease-in-out;
}
.portfolio:hover .expand, .portfolio:hover .linkup{
    width: 50%;
}
.portfolio:hover .expand ul, .portfolio:hover .linkup ul{
    opacity: 1;
}
.portfolio1{

background-image: url('../images/portfolio1.png');

background-size: cover;

background-repeat: no-repeat;

background-position: top;

height: 180px;
}
.portfolio2{

background-image: url('../images/portfolio2.png');

background-size: cover;

background-repeat: no-repeat;

background-position: top;

height: 180px;
}
.portfolio3{

background-image: url('../images/portfolio3.png');

background-size: cover;

background-repeat: no-repeat;

background-position: top;

height: 180px;
}
.portfolio4{

background-image: url('../images/portfolio4.png');

background-size: cover;

background-repeat: no-repeat;

background-position: top;

height: 180px;
}
.feed_section{

text-align: center;
}
.feed_section h1{
    
color: #fff;
}
.feedback{

margin: auto;
}
.feed_panal{
    
margin-bottom: 15px;

position: relative;
}
.input_custom{
    
background: transparent;
    
color: #fff;
    
border: none;
}
.input_custom::placeholder{
    color: #ddd;
}
.input_custom:focus{
    outline: 0px;
    box-shadow: none;
    background: transparent;
    color: #181c0d;
    border: none;
}
.scroll{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.scroll::before{
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: .6s all ease-in-out;
}
.input_custom:hover ~ .scroll::before{
    width: 100%;
}
.btn_send{
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 20px;
}